.layout-header {
  background-color: #fff;
  height: 50px;
  padding: 0 20px;

  .trigger {
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;

    :hover {
      color: #1890ff;
    }
  }

  .system-options {
    height: 100%;
    margin: 0;
    padding: 0;

    li {
      height: 100%;
      padding: 0 10px;

      &:hover {
        background-color: #eee;
      }
    }
  }
}
