@charset "utf-8";

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

em {
  font-style: normal;
}

.ant-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  box-shadow: inset 0 0 0 1000px #fff !important;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.85) !important;
}

::-webkit-inner-spin-button {
  // webkit内核input[number]默认箭头样式
  -webkit-appearance: none !important;
  margin: 0;
  -moz-appearance: textfield;
}

[type="number"] {
  // molilla内核input[number]默认箭头样式
  -moz-appearance: textfield;
}
